
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body{
    height: 100vh;
    background-color: black;
    background-image: url('https://st2.depositphotos.com/1533202/7742/i/450/depositphotos_77428238-stock-photo-blurred-office-with-computer.jpg');
    background-position: center;
    background-repeat: repeat-x;
    background-size: cover;
    background-attachment: fixed;
}

header {
    padding-top: 20px;
    background-color: black;
    height: 50px;
}

.navigato {
    display: inline-flex;
    /*justify-content: center;*/
    gap: 20px;
    padding: 5px;
}

.links {
    text-decoration: none;
    /*align-items: center;*/
    font-family: verdana;
    color: white;
    text-shadow: 2px 2px 4px #f9f9f9;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.links {
    color: white;
    opacity: 0.6;
    transition: 0.3s;
    display: block;
    text-decoration: none;
    cursor: pointer;
}

.links:hover {
    opacity: 1
}

#div-mm{
    border-radius: 2%;
    border-color: aliceblue;
    height: 230px;
    text-align: center;
}

#text{
    color: #f9f9f9;
    font-family: Verdana;
    font-size: larger;
    font-size: 30px;
    padding-top: 70px;
}#text2{
    color: #f9f9f9;
    font-family: Verdana;
    font-size: larger;
    font-size: 20px;

}
#principal{
    background-color: #f9f9f9;
    margin-bottom: 1000px;
}

#container{
    display : flex;
    flex-direction : row;
}

#box{
    display : flex;
    flex-direction : row;
    text-align: justify;
}

#email-nosso{
    margin-left: 10px;
    margin-right: 100px;
}

#formulario{
    margin-right: 200px;
}

.texto-nossoemail{
    font-family: sans-serif;
    text-align: justify;
    text-indent: 30px;
    font-size: 25px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.texto-nossoemail2{
    font-family: sans-serif;
    text-align: center;
    font-size: 18px;
    opacity: 0.59;
}

.formu{
    font-family: sans-serif;
    text-align: justify;
    text-indent: 30px;
    font-size: 25px;
    padding-bottom: 20px;
    padding-top: 20px; 
}

#div-form{
    text-align: center;
    position: relative;
    background: rgb(205, 203, 203);
    max-width: 360px;
    padding:25px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 30px;
}

#nome-form{
    border-color: aqua;
    width: 170px;
    padding: 2px;
    margin: 2px;

    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}#sobrenome-form{
    width: 170px;
    padding: 2px;
    margin: 2px;

    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}#email-form{
    width: 170px;
    padding: 2px;
    margin: 2px;

    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}#senha-form{
    width: 170px;
    padding: 2px;
    margin: 2px;

    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}#idade-form{
    width: 170px;
    padding: 2px;
    margin: 2px;

    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.container1{
    padding-left: 50px;
}