@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400&family=Libre+Franklin:wght@100&family=Poppins:wght@100&family=Space+Mono:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

h1 {
    text-align: center;
    font-family: 'Space Mono', monospace;
    font-size: 50px;
}

h2 {
    text-align: center;
    font-size: 27px;
}

body {
    background-color: white;
    /*linear-gradient(0.25turn, #eefff3, #dee3ff, #ffdada);*/
}

#perg {
    padding-top: 10px;
    /*padding-left: 1cm;*/
    text-align: center;
    font-family: 'Space Mono', monospace;
}

#resp {
    padding-top: 10px;
    /*padding-left: 1cm;*/
    text-align: center;
}

#markg {
    padding-top: 10px;
    text-align: center;
    /*padding-left: 1cm;*/
}

.escrita p {
    font-family: 'Space Mono', monospace;
    padding: 19px;
}

.escrita {
    padding: 5px;
}

#maki7 {
    padding-top: 10px;
    padding-left: 6cm;
    padding-top: 60px;
}

#maki1 {
    padding-top: 10px;
    padding-left: 1cm;
    padding-top: 60px;
}

#maki2 {
    padding-top: 10px;
    padding-left: 2cm;
    padding-top: 60px;
}

.Comprar {
    background-color: #000000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.Comprar:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.div {
    text-align: center;
    padding-top: 180px;
}

.navigato {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 10px;
}

.links {
    text-decoration: none;
    align-items: center;
    font-family: verdana;
    color: white;
    text-shadow: 2px 2px 4px #f9f9f9;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.links {
    color: white;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.links:hover {
    opacity: 1
}

header {
    padding-top: 20px;
    background-color: black;
    height: 50px;
}


.cards {
    gap: 50px;
    padding-top: 11vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;     
}

.container {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.items {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 250px;
    width: 250px;
    background-color: #bbb;
    border-radius: 50%;
}

.project-name {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.icon-wrapper i {
    display: flex;
    flex-wrap: wrap;
    font-size: 100px;
    color: black;
}

.project-name p {
    display: flex;
    flex-wrap: wrap;
    font-size: 24px;
}

footer {
    position: absolute;
    bottom: 0;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 100vw;
    height: 80px;
}


footer p {
    gap: 40px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}